.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup_open {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }

  .x_button {
    position: sticky;
    float: right;
    margin: 5px;
    border-radius: 50%;
    background-color: red;
    color: blue;
    border-color: steelblue;
  }
  .x_button:hover {
      background-color: blue;
      color:yellow;
  }
  .total {
    margin-left: 5rem;
    margin-top: 1rem;
    color: blue;
    font-family: emoji;
  }
  .users {
    width: 400px;
    margin-left: 5rem;
    margin-top: 2rem;
  }

  @media screen and (max-width: 750px) {
    .popup_open {  
        position: absolute;  
        left: 5%;  
        right: 5%;  
        top: 5%;  
        bottom: 5%;  
        margin: auto;  
        border-radius: 20px;  
        background: white;  
      }
      .total {
        margin-left: 2rem; 
      }
      .users {
        margin-left: 2rem; 
        width:80%
      }
  }